html,
body {
    font-family: 'Raleway', serif;
    background:  #2a2d38;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/*Welcome message div*/

.hero .content h1, .hero .content p {
    text-align: center; 
}

.hero .description {
    margin: 0 auto;
    max-width: 40em;
}

/*Countdown timer*/
#countdown {
	font-size: 38px;
	color: #fff;
	line-height: 1.1em;
	margin: 40px 0 60px;
    /*text-align: left;*/
    display: inline;
}