html,
body {
    font-family: 'Raleway', serif;
    background:  #2a2d38;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.6em;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

#wrapper {
	text-align: center;
	padding: 50px 0;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*Welcome message div*/
.hero .content h1, .hero .content p {
    text-align: center; 
}

.hero .description {
    margin: 0 auto;
    max-width: 40em;
}

#headline{
    margin-top: 50px;
}

/*Countdown timer*/
#countdown {
	font-size: 38px;
	color: #fff;
	line-height: 1.1em;
	margin: 40px 0 60px;
    /*text-align: left;*/
    display: inline;
}

