<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerifyVoter</servlet-name>
        <servlet-class>Scripts.VerifyVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePresident</servlet-name>
        <servlet-class>Scripts.VoteForCandidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vote</servlet-name>
        <servlet-class>Scripts.VerifyVoter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vote</servlet-name>
        <servlet-class>Scripts.Vote</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyVoter</servlet-name>
        <url-pattern>/VerifyVoter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePresident</servlet-name>
        <url-pattern>/SavePresident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vote</servlet-name>
        <url-pattern>/vote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vote</servlet-name>
        <url-pattern>/Vote</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
